.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
cache/

# Sources 
_SOURCES/

# Data
.DS_Store
_data/

ComplexityN/
